.search--outer{
    background: transparent;
    box-sizing: border-box;
    width: 500px;
    height: 80px;
    /* border: solid 1px #60d9fa; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.search--filter-outer{
    position: absolute;
    right: 10px;
    /* top: 10px; */
    width: 330px;
    height: 30px;
    /* border: solid 1px black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.filter--input{
    padding: 5px;
    margin: 0 5px;
    width: 50px;
}

.search--inner{
    position: absolute;
    top: 20px;
    width: 400px;
    z-index: 100;
    /* height: 150px; */
    /* border: solid 1px black; */
    display: flex;
    flex-direction: row;

}

.search--input{
    padding: 10px;
    flex-basis: 300px;
    border: none;
}

.search--btn{
    margin-left: 5px;
    border-radius: 0%;
    border: none;
    outline: none;
    /* width: 80px; */
    flex-basis: 70px;
}

.search--btn{
    cursor: pointer;
}


.search--input:focus{
    outline: none;
}

.search--crossBtn{
    height: 40px;
    font-size: 20px;
    color: var(--my-blue);
    border: none;
    /* position: absolute;
    left: 290px; */
    color: #9d9da9;
    padding: 0 10px;
    background-color: white;
    z-index: 100;
    font-weight: 500;
    /* transition: 50ms linear; */
}

.search--crossBtn:hover{
    cursor: pointer;
    background: linear-gradient(to left, #9d9da9 80%, white 100%);
    color: white;
}

.search--crossBtn:after{
    background-color: white;
}